{% extends 'base.html' %}
{% block title %}Forums{% endblock %}

{% block content %}
<h5>Showing all forums</h5>
  <div class="container-fluid">
    <style>
      td,
      tr {
          text-align: start;
          vertical-align: middle;
      }
    </style>
    <table class="table table-hover table-borderles">
      <tbody>
        {% for forum in forums %}
          <tr>
            <td><a href="{{ url_for('posts.index', id=forum['forum_id']) }}"> {{ forum['forum_name'] }} </a></td>
            <td>
              {{ forum['forum_description'] }}
            </td>
            {% if g.user.is_admin %}
            <td>
              <a  href="{{ url_for('forums.update', id=forum['forum_id']) }}">Edit</a>
            </td>
            {% endif %}
            {% if g.user.is_admin %}
            <td>
              <form action="{{ url_for('forums.delete', id=forum['forum_id']) }}" method="post">
                <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
              </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if g.user.is_admin %}
    <a href="{{ url_for('forums.create')}}"><button type="button" class="btn btn-outline-primary me-2">Create New Forum</button></a>
  {% endif %}
{% endblock %}
