{% extends 'base.html' %}
{% block title %}Edit "{{ forum['forum_name'] }}"{% endblock %}

{% block content %}
  <h4>Edit "{{ forum['forum_name'] }}"</h4>
  <form method="post">
    <div class="mb-3">
      <label class="form-label" for="forum_name">Forum Name</label>
      <input class="form-control" name="forum_name" id="forum_name"
        value="{{ request.form['forum_name'] or forum['forum_name'] }}" required>
    </div>
    <div class="mb-3">
      <label class="form-label" for="forum_description">Description</label>
      <textarea class="form-control" name="forum_description" id="forum_description">{{ request.form['description'] or forum['forum_description'] }}</textarea>
    </div>
    
    <input type="submit" class="btn btn-primary" value="Submit">   
  </form>
  <br>
  <a href="{{ url_for('forums.index')}}">
    <button class="btn btn-primary">Cancel</button>
  </a>

{% endblock %}