{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    {% if g.user.has_job_listings_access %}
        <style>
            td,
            tr {
                text-align: center;
                vertical-align: middle;
            }
        </style>

        <form method="post" action="{{url_for('user.jobPosting')}}">
            <div class="mb-3" style="width:300px;">
                <label for="industry_id" class="form-label">Select your industry</label>
                <select id="industry_id" name="industry_id" class="form-select">
                    {% for industry in industries %}
                    request.form['industry_id']=
                    <option name="industry_id" value="{{industry.industry_id}}">{{industry.industry_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <div class="form-check form-check-inline">
                    {% if session['int'] %}
                    <input class="form-check-input" type="checkbox" id="internship" name="internship" checked>
                    {% else %}
                    <input class="form-check-input" type="checkbox" id="internship" name="internship">
                    {% endif %}
                    <label class="form-check-label" for="internship">
                        Internship
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    {% if session['visa'] %}
                    <input class="form-check-input" type="checkbox" id="visa" name="visa" checked>
                    {% else %}
                    <input class="form-check-input" type="checkbox" id="visa" name="visa">
                    {% endif %}
                    <label class="form-check-label" for="visa">
                        Visa Sponsored
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
        <br />
        <br />

        <h5>Showing {{ jobList|length }} Listings in {{ session['ind']}}</h5>
        <a class="btn btn-primary" href="{{ url_for('user.addJob') }}" role="button">Add New Job</a>
        <br />
        <br />
        <table class="table table-hover table-bordered">
            <thead>
                <tr class = "table-primary">
                    <th>Company</th>
                    <th>Position</th>
                    <th>Internship</th>
                    <th>Visa Sponsored</th>
                    <th>Deadline</th>
                    <th>Application URL</th>
                </tr>
            </thead>
            <tbody>
                {% for row in jobList %}
                    {% if row[7] %}
                        <tr>
                            <td>{{row[1]}}</td>
                            <td>{{row[2]}}</td>
                            <td>{{row[5]}}</td>
                            <td>{{row[3]}}</td>
                            <td>{{row[6]}}</td>
                            <td><a href="{{row[4]}}" target="_blank">Link</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <br />

    {% else %}
        <div class = "container">
            <div class="jumbotron">
                <h1 class="display-4">Access Denied...</h1>
                <p class="lead">You need to make a small donnation to view the job listings. Job listings are provided by fellow Columbia University students, and are frequently maintained to make sure the most accurate information is available at all times!</p>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg" href="{{ url_for('views.payment') }}" role="button">Make Donation</a>
            </div>
        </div>
    {% endif %}
{% endblock %}



