{% extends 'base.html' %}
{% block title %}New Job{% endblock %}

{% block content %}
{% if g.user %}
    <h6>Enter Job Details: </h6>
    <form method="post" action="{{url_for('user.addJob')}}">
        <div class="form-group" style="width:350px;">
            <input type="text" class="form-control" id="jobtitle" name = "jobtitle" placeholder="Position Title">
        </div>
        <br />
        <div class="form-group" style="width:350px;">
            <input type="text" class="form-control" id="company" name = "company" placeholder="Company">
        </div>
        <br />
        <div class="form-group" style="width:350px;">
            <input type="text" class="form-control" id="app_url" name="app_url" placeholder="Application URL">
        </div>
        <br />
        <div class="mb-3" style="width:300px;">
            <label for="industry" class="form-label">Select industry</label>
            <select id="industry" name="industry" class="form-select">
                <option value="1"> Software Engineering</option>
                <option value="2">Product Management</option>
                <option value="3">Data Science</option>
                <option value="4">Finance</option>
                <option value="5">Consulting</option>
                <option value="6">Architecture</option>
                <option value="7">Marketing</option>
                <option value="8">Human Resource Management</option>
                <option value="9">Journalism</option>
                <option value="10">Military and Govenment</option>
            </select>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="internship" name="internship">
            <label class="form-check-label" for="internship">
                Internship
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="visa" name="visa">
            <label class="form-check-label" for="visa">
                Visa Sponsored
            </label>
        </div>
        <br />
        <br />
        <button type="submit" class="btn btn-primary">Add New Job</button>
    </form>
{% else %}
<h5>You have to login first!</h5>
<p class="text-muted mt-5 mb-0">Create new account? <a href="{{ url_for('auth.register') }}"
        class="fw-bold text-body"><u>Register here</u></a></p>
{% endif %}
{% endblock %}

