{% extends 'base.html' %}
{% block title %}Settings{% endblock %}

{% block content %}

{% if g.user.is_admin %}
    <h5>{{session['columbia_uni']}} Admin Settings</h5>
    <br />
    <form method="post" action="{{url_for('user.adminSettings')}}">
        <div class="mb-3" style="width:300px;">
            <label for="uni" class="form-label">Pick Columbia UNI to upgrade to Admin</label>
            <select id="uni" name="uni" class="form-select">
                {% for user in users %}
                request.form['uni']=
                <option name="uni" value="{{user.columbia_uni}}">{{user.columbia_uni}}</option>
                {% endfor %}
            </select>
        </div>
        <button type = "submit" class="btn btn-primary">Upgrade User</button>
        <br />
        <div class="form-group mt-2" style="width:350px;">
            <label for="uni" class="form-label">Create New Industry</label>
            <input type="text" class="form-control" id="ind" name="ind" placeholder="Industry Name">
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Add New Industry</button>
    </form>

{% else %}
    <h5>{{session['columbia_uni']}} Account Settings</h5>
    <h7>Job Listing Access: <strong>{{g.user.has_job_listings_access}}</strong></h7>
    <form method="post" action="{{url_for('user.settings')}}">
        <div class="form-group mt-2" style="width:350px;">
            <input type="text" class="form-control" id="name" name="name" placeholder="Update Name">
        </div>
        <br />
        <div class="form-group" style="width:350px;">
            <input type="text" class="form-control" id="major" name="major" placeholder="Update Major">
        </div>
        <br />
        <h6>Unhappy?</h6>
        <span style="display: inline;">
            <input type="submit" class="btn btn-primary btn-danger"  name="delete" value="Delete Account">
            <input type="submit" class="btn btn-primary btn-warning" name="deactivate" value="Deactivate Account">
        </span>
    </form>

{% endif %}

{% endblock %}
