{% extends 'base.html' %}
{% block title %}Settings{% endblock %}

{% block content %}

{% if g.user.is_admin %}
    <h5>{{session['columbia_uni']}} Admin Settings</h5>
    <br />
    <form method="post" action="{{url_for('user.adminSettings')}}">
        <div class="form-group mt-2" style="width:350px;">
            <label for="uni" class="form-label">Enter Columbia UNI to uprgrade to Admin</label>
            <input type="text" class="form-control" id="uni" name="uni" placeholder="Columbia Uni">
        </div>

    </form>
{% else %}
    <h5>{{session['columbia_uni']}} Account Settings</h5>
    <h7>Job Listing Access: <strong>{{g.user.has_job_listings_access}}</strong></h7>
    <form method="post" action="{{url_for('user.settings')}}">
        <div class="form-group mt-2" style="width:350px;">
            <input type="text" class="form-control" id="name" name="name" placeholder="Update Name">
        </div>
        <br />
        <div class="form-group" style="width:350px;">
            <input type="text" class="form-control" id="major" name="major" placeholder="Update Major">
        </div>
        <br />
        <h6>Unhappy?</h6>
        <span style="display: inline;">
            <button class="btn btn-primary btn-danger" name="delete">Delete Account</button>
            <button class="btn btn-primary btn-warning" name="deactivate">Deactivate Account</button>
        </span>
    </form>

{% endif %}

{% endblock %}
