{% extends 'base.html' %}
{% block title %}Settings{% endblock %}

{% block content %}

{% if g.user.is_admin %}
    <h5>{{session['columbia_uni']}} Admin Settings</h5>
    <br />
    <form method="post" action="{{url_for('user.adminSettings')}}">
        <div class="mb-3" style="width:300px;">
            <label for="uni" class="form-label">Pick Columbia UNI to upgrade to Admin</label>
            <select id="uni" name="uni" class="form-select" >
                <option value="" selected></option>
                {% for user in users %}
                request.form['uni']=
                <option name="uni" value="{{user.columbia_uni}}">{{user.columbia_uni}}</option>
                {% endfor %}
            </select>
        </div>
        <button type = "submit" class="btn btn-primary">Upgrade User</button>
        <br />
        <div class="form-group mt-2" style="width:350px;">
            <label for="uni" class="form-label">Create New Industry</label>
            <input type="text" class="form-control" id="ind" name="ind" placeholder="Industry Name">
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Add New Industry</button>
    </form>
    <br>
    <h5>Payment History</h5>
    <div class="container-fluid" style="margin-top: 2%;">
        <style>
          td,
          tr {
              text-align: start;
              vertical-align: middle;
          }
        </style>
        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th>
                        Amount (in USD)
                    </th>
                    <th>
                        Columbia UNI
                    </th>
                    <th>
                        Payment Date
                    </th>
                </tr>
            </thead>
          <tbody>
            {% for payment in payments %}
                <tr >
                    <td>
                        {{payment.amount}}
                    </td>
                    <td>
                        {{payment.columbia_uni}}
                    </td>
                    <td>
                        {{payment.payment_timestamp}}
                    </td>
                </tr>
            {% endfor %}
            
          </tbody>
        </table>
      </div>

{% else %}
    <h5>{{session['columbia_uni']}} Account Settings</h5>
    <h7>Job Listing Access: <strong>{{g.user.has_job_listings_access}}</strong></h7>
    <form method="post" action="{{url_for('user.update')}}">
        <div class="form-group mt-2" style="width:350px;">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="{{g.user.name}}">
        </div>
        <br />
        <div class="form-group" style="width:350px;">
            <label for="major" class="form-label">Major</label>
            <input type="text" class="form-control" id="major" name="major" placeholder="{{g.user.major}}">
        </div>
        <br>
        <button class="btn btn-primary" type="submit">
            Update Details
        </button>
    </form>
    <br>
    <form method="post" action="{{url_for('user.settings')}}">
        <h6>Unhappy?</h6>
        <span style="display: inline;">
            <input type="submit" class="btn btn-primary btn-danger"  name="delete" value="Delete Account">
            <input type="submit" class="btn btn-primary btn-warning" name="deactivate" value="Deactivate Account">
        </span>
    </form>

{% endif %}

{% endblock %}
